:root{
    --fg-color: rgb(143, 244, 148);
    --fg-color-secondary: rgb(111, 196, 118)
}

body, html{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

header{
    position: fixed;
    float: left;
    background-color: rgb(53, 53, 53);
    min-height: 100vh;
    min-width: 19vh;
    z-index: 1;
    overflow-x: hidden;
    box-shadow: 2px 0 20px rgb(85, 85, 85);
}

#side-nav{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
}

#side-nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding-bottom: 10px;
}

#side-nav i{
    margin-right: 10px;
}

#side-nav .active{
    color:var(--fg-color);
}

#side-nav a:hover{
    color:rgb(201, 201, 201);
    text-decoration-line: none;
}

.brand{
    padding: 10px;
}

#user-div .btn{
    background-color: var(--fg-color);
}

#user-div{
    /* border: 1px solid white; */
    width: inherit;
    text-align: right;
    padding-right: 1.1em;
    margin-top: 5vh;
    position: relative;
    /* left: 2em; */
}

#search-label{
    padding: 2px;
    color:white;
    margin-bottom: 10px;
}

.brand img{
    max-width: 100px;
}

.gradient {
    background-image:
      linear-gradient(
        to right,
        var(--fg-color), #d9f006
      );
}

@media only screen and (max-width: 768px){
    header{
        min-width: 10vh;
        max-width: 10vh;
    }

    #side-nav i{
        margin-left : 20%;
        margin-bottom: 10px;
        font-size: 35px;
    }

    #side-nav a>span{
        display: none;
    }

    #user-div .btn{
        width: 100%;
        margin: 0px;
    }

    .brand img{
        max-width: 50px;
    }
    #user-div{
        width: 100%;
    }
    #user-div .btn{
        min-width: 130%;
    }
}